# Connection Python to PostgreSQL

1. Menyiapkan Koneksi PostgreSQL di Jupyter Notebook

Pastikan Anda sudah menginstal psycopg2

In [1]:
import psycopg2
from psycopg2 import sql
import pandas as pd

2. Membuat Database, Tabel, dan Menambahkan Data

**Membuat Koneksi ke PostgreSQL**

Pertama, buat koneksi ke PostgreSQL. Pastikan PostgreSQL berjalan dan kredensial sudah benar.

In [2]:
# Koneksi ke PostgreSQL
connection = psycopg2.connect(
    host="localhost",
    user="postgres",
    password="1234",
    database="postgres"  # Koneksi ke database default PostgreSQL
)
connection.autocommit = True  # Set autocommit agar perintah create database langsung dieksekusi

# Buat cursor untuk menjalankan perintah SQL
cursor = connection.cursor()

**Membuat Database Baru**

Buat database baru untuk latihan ini.

In [3]:
# Perintah membuat database
database_name = "test_db"
try:
    cursor.execute(sql.SQL("CREATE DATABASE {}").format(sql.Identifier(database_name)))
    print(f"Database '{database_name}' berhasil dibuat.")
except psycopg2.errors.DuplicateDatabase:
    print(f"Database '{database_name}' sudah ada.")
finally:
    cursor.close()
    connection.close()

Database 'test_db' berhasil dibuat.

**Koneksi ke Database Baru**

Setelah membuat database, buat koneksi baru untuk database yang baru saja dibuat:

In [4]:
# Koneksi ke database baru
connection = psycopg2.connect(
    host="localhost",
    database="test_db",
    user="postgres",
    password="1234"
)
cursor = connection.cursor()

**Membuat Tabel**

Buat tabel employees dalam database test_db:

In [5]:
# Membuat tabel employees
create_table_query = '''
CREATE TABLE IF NOT EXISTS employees (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100),
    position VARCHAR(50),
    salary NUMERIC(10, 2)
);
'''
cursor.execute(create_table_query)
connection.commit()
print("Tabel 'employees' berhasil dibuat.")

Tabel 'employees' berhasil dibuat.

**Menambahkan Data dengan INSERT**

Tambahkan data contoh ke dalam tabel employees

In [6]:
# Menambahkan data ke tabel employees
insert_query = '''
INSERT INTO employees (name, position, salary) 
VALUES (%s, %s, %s)
'''
data_to_insert = [
    ("Alice", "Data Scientist", 85000.00),
    ("Bob", "Data Engineer", 75000.00),
    ("Charlie", "Analyst", 60000.00)
]

for data in data_to_insert:
    cursor.execute(insert_query, data)

connection.commit()
print("Data berhasil ditambahkan ke tabel 'employees'.")

Data berhasil ditambahkan ke tabel 'employees'.

(Jika Dibutuhkan)

**Melakukan Update Data**

In [16]:
# Update data
update_query = "UPDATE employees SET salary = %s WHERE name = %s"
new_salary = 90000.00
employee_name = "Alice"
cursor.execute(update_query, (new_salary, employee_name))
connection.commit()
print(f"Gaji {employee_name} berhasil diperbarui menjadi {new_salary}.")

Gaji Alice berhasil diperbarui menjadi 90000.0.

**Melihat Data dari Tabel**

Ambil dan tampilkan data dari tabel employees untuk memastikan data telah berhasil ditambahkan.

In [7]:
# Query untuk menampilkan data
select_query = "SELECT * FROM employees"
cursor.execute(select_query)
rows = cursor.fetchall()

# Tampilkan data
for row in rows:
    print(row)

(1, 'Alice', 'Data Scientist', Decimal('85000.00'))
(2, 'Bob', 'Data Engineer', Decimal('75000.00'))
(3, 'Charlie', 'Analyst', Decimal('60000.00'))

(Jika Dibutuhkan)

**Melakukan Hapus Data Tabel**

In [8]:
# Hapus tabel
drop_table_query = "DROP TABLE IF EXISTS employees"
cursor.execute(drop_table_query)
connection.commit()
print("Tabel 'employees' berhasil dihapus.")

Tabel 'employees' berhasil dihapus.

**Menutup Koneksi**

Setelah selesai, pastikan untuk menutup koneksi.

In [9]:
cursor.close()
connection.close()

---

# Menambahkan kolom dan baris baru

**Membuat Koneksi, table, dan insert table**

In [10]:
connection = psycopg2.connect(
    host="localhost",
    database="test_db",
    user="postgres",
    password="1234"
)
cursor = connection.cursor()

In [11]:
# Membuat tabel employees
create_table_query = '''
CREATE TABLE IF NOT EXISTS employees (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100),
    position VARCHAR(50),
    salary NUMERIC(10, 2)
);
'''
cursor.execute(create_table_query)
connection.commit()
print("Tabel 'employees' berhasil dibuat.")

Tabel 'employees' berhasil dibuat.

In [12]:
# Menambahkan data ke tabel employees
insert_query = '''
INSERT INTO employees (name, position, salary) 
VALUES (%s, %s, %s)
'''
data_to_insert = [
    ("Alice", "Data Scientist", 85000.00),
    ("Bob", "Data Engineer", 75000.00),
    ("Charlie", "Analyst", 60000.00)
]

for data in data_to_insert:
    cursor.execute(insert_query, data)

connection.commit()
print("Data berhasil ditambahkan ke tabel 'employees'.")

Data berhasil ditambahkan ke tabel 'employees'.

**Menambahkan Kolom dan Baris Baru ke Tabel**

In [13]:
# Menambahkan kolom baru 'department'
add_column_query = '''
ALTER TABLE employees
ADD COLUMN department VARCHAR(50);
'''
cursor.execute(add_column_query)
connection.commit()
print("Kolom 'department' berhasil ditambahkan ke tabel 'employees'.")

Kolom 'department' berhasil ditambahkan ke tabel 'employees'.

In [14]:
# Menambahkan baris baru ke tabel employees
insert_new_rows_query = '''
INSERT INTO employees (name, position, salary, department) 
VALUES (%s, %s, %s, %s)
'''
new_data_to_insert = [
    ("David", "Data Analyst", 65000.00, "Analytics"),
    ("Emma", "Data Engineer", 78000.00, "Engineering"),
    ("Frank", "Machine Learning Engineer", 90000.00, "AI")
]

for data in new_data_to_insert:
    cursor.execute(insert_new_rows_query, data)

connection.commit()
print("Baris baru berhasil ditambahkan ke tabel 'employees'.")

Baris baru berhasil ditambahkan ke tabel 'employees'.

In [15]:
# Menampilkan semua data dari tabel employees
cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()

for row in rows:
    print(row)

# Menutup koneksi
cursor.close()
connection.close()

(1, 'Alice', 'Data Scientist', Decimal('85000.00'), None)
(2, 'Bob', 'Data Engineer', Decimal('75000.00'), None)
(3, 'Charlie', 'Analyst', Decimal('60000.00'), None)
(4, 'David', 'Data Analyst', Decimal('65000.00'), 'Analytics')
(5, 'Emma', 'Data Engineer', Decimal('78000.00'), 'Engineering')
(6, 'Frank', 'Machine Learning Engineer', Decimal('90000.00'), 'AI')

In [17]:
cursor.close()
connection.close()

---

(Jika Dibutuhkan)

# Menghapus Database

In [20]:
# Koneksi ke database default untuk menghapus database
connection = psycopg2.connect(
    host="localhost",
    user="postgres",
    password="1234",
    database="postgres"
)
connection.autocommit = True
cursor = connection.cursor()

# Hapus database
database_name = "test_db"
drop_database_query = sql.SQL("DROP DATABASE IF EXISTS {}").format(sql.Identifier(database_name))
cursor.execute(drop_database_query)
print(f"Database '{database_name}' berhasil dihapus.")

# Tutup koneksi
cursor.close()
connection.close()

ObjectInUse: database "test_db" is being accessed by other users
DETAIL:  There is 1 other session using the database.